*{
    padding: 0;
    margin: 0;
    border: none;
}

h2 {
    font-size: large;
    font-weight: bold;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

.login-wrapper{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
}

.login-wrapper > h2{
    font-size: 24px;
    color: #F7B5CA;
    margin-bottom: 20px;
}
#loginForm > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#loginForm > input::placeholder{
    color: #D2D2D2;
}
#loginForm > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #F7B5CA;
    margin-top: 20px;
}
.goToJoin{font-weight: bold;}