@charset "UTF-8";
/* Header */
header {height:100px; background: #F7B5CA;}
.logo {color: inherit; text-decoration: none;}
.logo:visited {color: inherit;}
.logo:hover, a:active {color: inherit; text-decoration: none;}
h1 {padding-left: 50px;}

/* Section */
.contents {min-height:300px;}

/*
 Footer
header {height:100px; background: #F7B5CA; color:black;}
.contents {min-height:300px;}
*/
footer {height:100px;}