@charset "UTF-8";
/* Header */

header {
    height: 250px;
    background: #ffffff;
    align-items: flex-start;
}

.logo {
    color: inherit; /* 부모 색상 사용 */
}

.logo:visited {
    color: inherit;
}

.logo:hover,
a:hover,
a:active {
    color: inherit; /* 호버 시 색상 유지 */
    text-decoration: none; /* 밑줄 제거 */
}

header > img {
    width: 340px;
    height: 170px;
}

html body {
    margin: 0px 150px 0px 150px;
}

a {
    color: black; /* 앵커 태그 기본 색상 설정 */
    text-decoration: none; /* 밑줄 제거 */
}

/* Section */
.contents {
    min-height: 300px;
}


header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 300px;

}


.container {
    display: flex; /* Flexbox 레이아웃 */
    position: relative; /* 자식 요소의 위치를 상대적으로 설정 */
}

.main-content {
    flex: 1; /* 주 콘텐츠가 가능한 공간을 차지하도록 설정 */
    padding: 20px;
}

.sidebar {
    width: 300px; /* 사이드바의 고정 너비 */
    background-color: #fff; /* 반투명 배경색 */
    padding: 20px; /* 내부 여백 */
    border-left: 1px solid #ccc; /* 왼쪽 테두리 */
    position: absolute; /* 절대 위치 */
    right: 0; /* 오른쪽으로 정렬 */
    top: 0; /* 상단에 정렬 */
    height: 90%; /* 전체 높이 */
    display: none; /* 기본적으로 숨김 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    box-shadow: 0.5px 0 3.5px rgba(0, 0, 0, 0.3);
    border-radius: 10px 0 0 10px;
    margin : 20px 0px 0px 0px ;
}

.sidebar.show {
    display: block; /* show 클래스가 있을 때 표시 */
}

.sidebar a, .sidebar button {
    display: block; /* 링크와 버튼을 블록 요소로 만들어 줄바꿈 */
    margin: 10px 0; /* 링크와 버튼 사이의 여백 */
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #333; /* 링크 색상 */
}


footer {
    height: 100px;
    text-align: center; /* 푸터 내용을 가운데 정렬 */
    padding: 20px; /* 푸터 패딩 */
}

#toggleSidebar{
    cursor: pointer; /* 버튼 커서 스타일 */
    position: fixed;
    top: 20px; /* 위쪽에서의 거리 */
    right: 20px; /* 오른쪽에서의 거리 */
    z-index: 1000; /* 다른 요소 위에 표시되도록 */
    padding: 10px 15px;
    background-color: #f8f8f8; /* 버튼 색상 */
    color: white; /* 글자 색상 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggleSidebar > span{
    margin : 2px;
    display: block;
    width: 20px;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
}

#toggleSidebar:hover {
    background-color: #0056b3; /* 호버 시 색상 변화 */
}

#closeSidebar{
    display:inline-block;
    *display:inline;  /* IE 7 이하에서 적용 */
    background: none;
    border: none;
}
#closeSidebar:after {
    display: inline-block;
    content: "\00d7";
    font-size:15pt;
}
/*
 Footer
header {height:100px; background: #F7B5CA; color:black;}
.contents {min-height:300px;}
*/