*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container > h2 {
    font-size:60px;
    color: #F7B5CA;
    margin-top: -190px;
    margin-bottom: 30px;
}

#modifyform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom:10px;
}

form input {
    width: 300px;
    height: 40px;
    margin-bottom:20px;
    border-bottom: 1px solid #F7B5CA;
}

#modifyform > div {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#modifyform label {
    align-items:flex-start !important;
    font-weight: bold;
}

button {
    color:#fff;
    margin-top: 20px;
    height: 30px;
    width: 305px;
    background-color: #F7B5CA;
}
