#error-msg {
    margin-bottom:20px;
}
.container > h2 {
    font-size:60px;
    color: #00BFFF;
    margin-bottom: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu ul {
    list-style-type:none;
    display:flex;
    justify-content: space-around;
    padding:0;
    margin-top: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}